site_name: Bazzite Documentation
site_author: nicknamenamenick
site_url: !ENV MKDOCS_SITE_URL
repo_url: https://github.com/ublue-os/bazzite
repo_name: ublue-os/bazzite
edit_uri: https://github.com/KyleGospo/docs.bazzite.gg/blob/main/src
site_description: Bazzite is a custom image built upon Fedora Atomic Desktops that brings the best of Linux gaming to all of your devices.

watch:
  - theme_overrides

validation:
  links:
    not_found: warn
    absolute_links: relative_to_docs
    anchors: warn
    unrecognized_links: warn

extra_css:
  - stylesheets/image_sizing.css
  - stylesheets/bazzite.css
theme:
  name: material
  custom_dir: theme_overrides
  palette:
    - media: "(prefers-color-scheme)"
      primary: deep purple
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  favicon: static/favicon.svg
  logo: static/favicon.svg
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    # - navigation.instant # Incompatible with mkdocs_static_i18n
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.action.edit
    - content.action.view
    - announce.dismiss
    - content.tabs.link

docs_dir: src
site_dir: book

hooks:
  - hooks/cmdrun.py # 100-99
  - hooks/embed_youtube.py # 80
  - hooks/md_image_sizing.py

plugins:
  - privacy
  - i18n:
      languages:
        - locale: en
          default: true
          name: English
          build: true

  - search
  - glightbox
  - git-revision-date-localized:
      enable_creation_date: !ENV [CI, false]
      fallback_to_build_date: true
  - git-committers:
      enabled: !ENV [CI, false]
      token: !ENV ["GH_TOKEN"]
      repository: !ENV GITHUB_REPOSITORY
      branch: !ENV GITHUB_REF_NAME
  - bazzite-social:
      # use_image_from_page: true # Use first image found in a page as fallback
  - tags:
      tags_file: tags.md

markdown_extensions:
  - attr_list
  - md_in_html
  - nl2br
  - mdx_truly_sane_lists
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.magiclink
  - pymdownx.smartsymbols
  #region Enable Admonitions
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  #endregion Enable Admonitions
  #region Enable Content Tabs
  - pymdownx.tabbed:
      alternate_style: true
  #endregion Enable Content Tabs

nav:
  - index.md
  - FAQ: "General/FAQ.md"
  - General:
      - "Bazzite's README": "Bazzite_README.md"
      - "Desktop Environment Tweaks": General/Desktop_Environment_Tweaks.md
      - "Reporting Bugs": General/reporting_bugs.md
      - "Press Kit": "Bazzite_Press_Kit.md"
      - "Installation Guide":
          - General/Installation_Guide/index.md
          - "Installing Bazzite for Desktop/Laptop Hardware": General/Installation_Guide/Installing_Bazzite_for_Desktop_or_Laptop_Hardware.md
          - "Installing Bazzite for Framework Laptop 16": General/Installation_Guide/Installing_Bazzite_for_Framework_Laptop_16.md
          - "Installing Bazzite for Framework Laptop 13 (AMD/Intel GPU)": General/Installation_Guide/Installing_Bazzite_Framework_Laptop_13.md
          - "Installing Bazzite for Home Theater PC (HTPC) Setups": General/Installation_Guide/Installing_Bazzite_for_HTPC_Setups.md
          - "Installing Bazzite on the Steam Deck": General/Installation_Guide/Installing_Bazzite_for_Steam_Deck.md
          - "Installing Bazzite on Handheld PCs": General/Installation_Guide/Installing_Bazzite_for_Handheld_PCs.md
          - "Installation Troubleshoot Guide": General/Installation_Guide/troubleshoot_guide.md
          - "Secure Boot Instructions": General/Installation_Guide/secure_boot.md
          - "Dual Boot Preliminary and Post-Installation Setup Guide": General/Installation_Guide/dual_boot_setup_guide.md
  - Gaming:
          - "Gaming Guide": General/Gaming/Index.md
          - "Game Launchers": General/Gaming/Game_Launchers.md
          - "Managing & Modding Games": General/Gaming/Managing_and_modding_games.md
          - "Common Gaming Issues": General/Gaming/Common_gaming_issues.md
          - "Hardware Compatibility for Gaming": General/Gaming/Hardware_compatibility_for_gaming.md
  - Handheld & HTPC Hardware:
      - "Steam Gaming Mode": Handheld_and_HTPC_edition/Steam_Gaming_Mode.md
      - "Handheld Wiki":
          - Handheld_and_HTPC_edition/Handheld_Wiki/index.md
          - "Steam Deck": Handheld_and_HTPC_edition/Handheld_Wiki/Steam_Deck.md
          - "Lenovo Legion Go": Handheld_and_HTPC_edition/Handheld_Wiki/Lenovo_Legion_Go.md
          - "ASUS ROG Ally": Handheld_and_HTPC_edition/Handheld_Wiki/ASUS_ROG_Ally.md
          - "Ayn Handhelds": Handheld_and_HTPC_edition/Handheld_Wiki/Ayn_Handhelds.md
          - "GPD Handhelds": Handheld_and_HTPC_edition/Handheld_Wiki/GPD_Handhelds.md
          - "OneXPlayer Handhelds": Handheld_and_HTPC_edition/Handheld_Wiki/OneXPlayer_Handhelds.md
          - "Ayaneo Handhelds": Handheld_and_HTPC_edition/Handheld_Wiki/Ayaneo_Handhelds.md
          - "Other Handhelds": Handheld_and_HTPC_edition/Handheld_Wiki/Other_Handhelds.md
  - Software:
      - "Installing and Managing Software":
          - Installing_and_Managing_Software/index.md
          - "Flatpak": Installing_and_Managing_Software/Flatpak.md
          - "ujust": Installing_and_Managing_Software/ujust.md
          - "Homebrew": Installing_and_Managing_Software/Homebrew.md
          - "Distrobox": Installing_and_Managing_Software/Distrobox.md
          - "Appimage": Installing_and_Managing_Software/AppImage.md
          - "rpm-ostree": Installing_and_Managing_Software/rpm-ostree.md
          - "Waydroid Setup Guide": Installing_and_Managing_Software/Waydroid_Setup_Guide.md
      - "Updates, Rollbacks, & Rebasing":
          - "Installing_and_Managing_Software/Updates_Rollbacks_and_Rebasing/index.md"
          - "Updating Guide": "Installing_and_Managing_Software/Updates_Rollbacks_and_Rebasing/updating_guide.md"
          - "Rolling Back System Updates": "Installing_and_Managing_Software/Updates_Rollbacks_and_Rebasing/rolling_back_system_updates.md"
          - "Rebase Guide": "Installing_and_Managing_Software/Updates_Rollbacks_and_Rebasing/rebase_guide.md"
          - "Bazzite Rollback Helper": "Installing_and_Managing_Software/Updates_Rollbacks_and_Rebasing/bazzite_rollback_helper.md"
  - Advanced:
      - "Booting to Rescue & Emergency Mode": Advanced/rescue-and-emergency-mode.md
      - "Auto-Mounting Secondary Drives": Advanced/Auto-Mounting_Secondary_Drives.md
      - "Reset Forgotten User Password": Advanced/Reset_Forgotten_User_Password.md
      - "Best Shell Practices": Advanced/Best_Shell_Practices.md
      - "Bazzite Command Line Tools": Advanced/bazzite-cli.md
      - "Using Looking-Glass": Advanced/looking-glass.md
      - "Show Detailed Init Logs During Boot": Advanced/plymouth_init.md
      - "How to Modify Initramfs and Dracut": Advanced/dracut-and-initramfs.md
      - "Creating A Custom Bazzite Image": Advanced/creating_custom_image.md
  - Contribute: CONTRIBUTE.md
  - Social Platforms: Resources.md
  - Credits & Donating: donations.md
  - Main Website: https://bazzite.gg
